

<app-banner title="add team"></app-banner>


<div class="site-section hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form #addTeamForm="ngForm" (ngSubmit)="add()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="team.name" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="team.stadium" name="stadium" class="form-control" placeholder="Stadium">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="team.owner" name="owner" class="form-control" placeholder="Owner">
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="Add">
                    </div>
                </form>
            </div>
            <div class="col-lg-4 ml-auto">
            </div>
        </div>
    </div>
</div>