<table class="table table-striped table-dark text-center">
    <div>
        <div class="text-center form-group">
        <label for="">Filter By team </label>
        <input type="text" [(ngModel)]='term'  name="term">
        <!-- [ngModelOptions]="{standalone: true}" = name="term" -->
        </div>
        <p>here value: {{term}}</p>
    </div>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">score1</th>
            <th scope="col">score2</th>
            <th scope="col">team1</th>
            <th scope="col">team2</th>
            <th scope="col" class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- tr will be generated matchestab.length -->
        <tr *ngFor="let i of pageOfItems | filter: term">
            <!-- filter( cest le nom du pipes): term" -->
            <th scope="row">{{i._id}}</th>
            <td>{{i.scoreOne}}</td>
            <td>{{i.scoreTwo}}</td>
            <td>{{i.teamOne}}</td>
            <td>{{i.teamTwo}}</td>
            <td><button class="btn btn-success mr-2" (click)="display(i._id)">Display</button>
                <button class="btn btn-warning mr-2" (click)="edit(i._id)">Edit</button>
                <button class="btn btn-danger mr-2" (click)="delete(i._id)">Delette</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="card-footer pb-0 pt-3">
    <jw-pagination
    [items]="matchestab" [pageSize]="2" (changePage)="onChangePage($event)"></jw-pagination>
</div>