
<app-banner title="Stadium Info"></app-banner>
<div class="container site-section">

    <div class="row hello">
        <div class="col-lg-12">
            <div class=" d-flex mb-5 zoom-image">
                <div class="img mr-4">
                    <img src="assets/images/stad.jpeg" alt="Image" class=""
                        style="width: 70%;"><!-- Ajustez la valeur pour agrandir la photo -->
                </div>
                <div class="text hel " style="margin-right: 200px;">
                    <div class="d-flex">
                        <h3 class="mr-2">Name :</h3>
                        <br>
                        <h3 class="mb-4"> {{obj.name}}</h3>
                    </div>
                    <div class="d-flex">
                        <h3 class="mr-2">Capacity :</h3>
                        <br>
                        <h3 class="mb-4"> {{obj.capacity}}</h3>
                    </div>
                    <div class="d-flex">
                        <h3 class="mr-2">Country:</h3>
                        <br>
                        <h3 class="mb-4">{{obj.country}}</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>